<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Sausquatch Websighting</h1> 
        <div>
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <a href="/sightings/add" class="btn btn-primary">Report a Sighting</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>    
    </nav>
    <div class="col-8 mx-auto">
        <h2>Reported sightings</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Date Of Sighting</th>
                    <th>Reported by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sighting in sightings %}
                <tr>
                    <td>{{sighting.location}}</td>
                    <td>{{sighting.date_found.strftime('%B %d %Y')}}</td>
                    <td>{{sighting.user.first_name}}</td> <!-- {{sighting.user.first_name}} {{sighting.user.last_name}} ** If classmethod were to work ** /--> 
                    <td>
                        <a href="/sightings/{{sighting.id}}" class="btn btn-success">View</a>
                        {% if session.user_id == sighting.user_id %}
                        <a href="/sightings/{{sighting.id}}/edit" class="btn btn-primary">Edit</a>
                        <a href="/sightings/{{sighting.id}}/delete" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>